.live-tracking-page {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE (Graphs) */
.graphs {
  width: 60%;              
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  background: #ffffff;
  box-sizing: border-box;
  position: relative;       }
.graphs > * {
  margin-bottom: 30px;    }
.time-display {
  position: sticky;
  top: 0;     
  margin-left: 390px;  
  transform: 'translateX(-50%)';           
  /* left: 50%;                */
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-family: monospace;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  z-index: 999;
  margin-bottom: 15px;
}

.parameters {
  width: 40%;            
  padding: 20px;
  background-color: #f5f5f5;
  color: black;
  box-sizing: border-box;
}

.parameters h2 {
  margin-bottom: 15px;
}

.parameters div {
  margin-bottom: 10px;
  font-size: 16px;
}
